html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  gap: 1px;
  background: #ccc;
  height: 100vh;
}

.panel {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background: white;
  height: 100%;
}

.tabbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.tab {
  background: none;
  font: inherit;
  border: unset;
  flex-grow: 1;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 0 1em;
  height: 2em;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  background: #f5f5f5;
  outline: 1px solid #ccc;
  color: #777;
}

.panel:focus-within .tab, .tab:hover, .tab:focus-visible {
  color: #555;
}

.tabbar:has(.tab.hide-content.active)~.content {
  display: none;
}

.tabbar:has(.tab.hide-editor.active)~.editor {
  display: none;
}

.tabbar:has(.tab.hide-editor.active)~.content {
  height: 100%;
}

.panel:focus-within .tab:hover, .tab:focus-visible {
  background: #fff;
}

.tab.active {
  color: #222;
  background: #fff;
}

.panel:focus-within .tab.active {
  border-top: 1px solid #0077B6;
  border-bottom: 1px solid #0077B6;
  color: black;
}

.editor {
  flex-grow: 1;
  min-height: 0;
}

.content {
  height: 40%;
  min-height: 0;
  overflow: auto;
  background: #eee;
  padding: 1em;
}

.graph-state, .graph-node {
  font-family: monospace;
}

.graph-str {
  color: #CE9178;
}

.graph-re {
  color: #D16969;
}

.graph-header {
  font-weight: bold;
}

.graph-children {
  margin-left: 3ch;
}

.graph-leaf.graph-str {
  margin-left: -1ch;
}

.collapsed {
  display: none;
}

.button-overlay {
  margin-top: 1lh;
  background: transparent;
  color: var(--vscode-editorInlayHint-foreground);
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.button-overlay:hover {
  color: var(--vscode-editorLink-activeForeground);
}

.observablehq--inspect {
  white-space: pre-wrap !important;
}
