html {
  color-scheme: light dark;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  gap: 1px;
  background: light-dark(#ccc, #444);
  height: 100vh;
}

.panel {
  display: flex;
  flex-direction: column;
  min-width: 0;
  background: light-dark(white, black);
  height: 100%;
}

.tabbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.tab {
  font: inherit;
  border: unset;
  flex-grow: 1;
  display: grid;
  align-content: center;
  text-align: center;
  padding: 0 1em;
  height: 2em;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  background: light-dark(#f5f5f5, #111);
  outline: 1px solid light-dark(#ccc, #444);
  color: light-dark(#777, #999);
}

.panel:focus-within .tab, .tab:hover, .tab:focus-visible {
  color: light-dark(#555, #bbb);
}

.tabbar:has(.tab.hide-content.active)~.content {
  display: none;
}

.tabbar:has(.tab.hide-editor.active)~.editor {
  display: none;
}

.tabbar:has(.tab.hide-editor.active)~.content {
  height: 100% !important;
}

.panel:focus-within .tab:hover, .tab:focus-visible {
  background: light-dark(#fff, #1b1b1b);
}

.tab.active {
  color: light-dark(#222, #eee);
  background: light-dark(#fff, #1b1b1b);
}

.panel:focus-within .tab.active {
  border-top: 1px solid #0077B6;
  border-bottom: 1px solid #0077B6;
  color: light-dark(black, white);
}

.editor {
  flex-grow: 1;
  min-height: 0;
}

.content:has(> .p10) {
  height: 10%;
}
.content:has(> .p20) {
  height: 20%;
}
.content:has(> .p30) {
  height: 30%;
}
.content:has(> .p40) {
  height: 40%;
}
.content:has(> .p50) {
  height: 50%;
}
.content:has(> .p60) {
  height: 60%;
}
.content:has(> .p70) {
  height: 70%;
}
.content:has(> .p80) {
  height: 80%;
}
.content:has(> .p90) {
  height: 90%;
}

.content {
  height: 40%;
  min-height: 0;
  overflow: auto;
  background: light-dark(#eee, #222);
  padding: 1em;
}

.graph-state, .graph-node {
  font-family: monospace;
}

.graph-str {
  color: #CE9178;
}

.graph-re {
  color: #D16969;
}

.graph-header {
  font-weight: bold;
}

.graph-children {
  margin-left: 3ch;
}

.graph-leaf.graph-str {
  margin-left: -1ch;
}

.collapsed {
  display: none;
}

.button-overlay {
  margin-top: 1lh;
  background: transparent;
  color: var(--vscode-editorInlayHint-foreground);
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}

.button-overlay:hover {
  color: var(--vscode-editorLink-activeForeground);
}

.observablehq--inspect {
  white-space: pre-wrap !important;
}

[data-theme='dark'] .content>.observablehq {
  filter: invert(1) hue-rotate(180deg);
}
